@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@500&display=swap");

/* 

font-family: 'Lato', sans-serif;


*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    width: 90%;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
    border: 1px solid green;
  }

  main {
    border: 1px solid blue;
  }
  .photo img {
    object-fit: contain;
    width: 100%;
    padding-bottom: 0.7em;
  }

  i {
    font-size: 2rem;
    opacity: 0.3;
  }
}
