@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f43268;
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 1em;
  height: 100vh;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: black;
}

.nav {
  background-color: #ffbc7d;
}

.main {
  background-color: #d6d6d6;
}

.footer {
  background-color: black;
}

@media screen and (max-width: 768px) {
  .header {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
  }

  .aside {
    display: none;
  }

  .nav {
    grid-column: 1 / -1;
    grid-row: 3 / 5;
  }

  .main {
    grid-column: 1 / -1;
    grid-row: 5 / 11;
  }

  .footer {
    grid-column: 1 / -1;
    grid-row: 11 / 13;
    background-color: black;
  }
}

@media screen and (min-width: 768px) {
  .header {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
  }

  .aside {
    display: block;
    background-color: #ed8320;
    grid-column: 1 / 4;
    grid-row: 3 / 11;
  }

  .nav {
    grid-column: 4 / -1;
    grid-row: 3 / 5;
  }

  .main {
    grid-column: 4 / -1;
    grid-row: 5 / 11;
  }

  .footer {
    grid-column: 1 / -1;
    grid-row: 11 / 13;
  }

  .title-a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
